src/main/resources/xsd/PurchaseRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:iso:std:ru:multicarta:tech:xsd:PurchaseRequest"
           targetNamespace="urn:iso:std:ru:multicarta:tech:xsd:PurchaseRequest">
    <xs:element name="PurchaseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:integer" name="itemId"/>
                <xs:element type="xs:integer" name="quantity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>