src/main/resources/schema/xsd/Items.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Items">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:float" name="amount"/>
                            <xs:element type="xs:short" name="quantity"/>
                            <xs:element type="xs:dateTime" name="insertionDate"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>