src/main/resources/schema/xsd/PurchaseRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PurchaseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="itemId"/>
                <xs:element type="xs:byte" name="quantity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>